.game-start-btn {
	padding-block: 1.25rem;
	font-size: calc(var(--font-size-1) * 1);
	margin-block-start: 0.25rem;
	border: 3px solid var(--clr-dark-grey);
	background: var(--clr-light-grey);
}

.game-stop-btn {
	padding: 0.25rem 0.5rem 0.35rem;
	font-size: calc(var(--font-size-1) * 0.75);
	margin-block-start: 0.25rem;
	margin-inline-start: auto;
	width: fit-content;
}

.game-desc {
	font-size: calc(var(--font-size-1) * 0.95);
	line-height: 1.5;
}

.game-options {
	&-list {
		display: flex;
		flex-flow: row wrap;
		gap: 0.5rem;
		margin-top: 0.5rem;
	}

	&-li {
		display: contents;
		list-style: none;
	}

	&-btn {
		min-width: 100px;
		padding: 1rem 1.25rem;
		min-height: 75px;
		font-size: calc(0.75 * var(--font-size-1));

		@media (max-width: 900px) {
			min-width: 70px;
			min-height: 50px;
			padding: 0.25rem 0.5rem;

		}

		&:disabled {
			opacity: 0.5;
			cursor: not-allowed;
			filter: blur(2px);
		}
	}
}

.game-key {

	position: sticky;
	inset: auto auto 1rem auto;
	margin-block-start: 0.5rem;

	&-current {
		font-size: calc(var(--font-size-2) * 0.95);
		line-height: 1.35;
		text-align: center;
		padding-block: 1.5rem 1.55rem;
		padding-inline: 1rem;
		background: var(--clr-background);
		color: var(--clr-color);
		outline: 3px dotted currentColor;
		border: 2px solid var(--clr-light-grey);
		outline-offset: -10px;
		border-radius: 0.25rem;
		backdrop-filter: blur(5px) drop-shadow(2px 2px 1px #000);
	}
}


.game-percent {
	display: grid;
	position: sticky;
	top: 1rem;
	z-index: var(--z-dialog);

	&-bar {
		width: 100%;
		height: 30px;
		border: 2px solid var(--clr-mid-grey);
		border-radius: 0.5rem;
		margin-top: 0.25rem;
		position: relative;
		background: var(--clr-background);


		&[data-is-correct=true] {
			--color: palegreen;
		}

		&[data-is-correct=false] {
			--color: deeppink;
		}

		&:before {
			content: "";
			position: absolute;
			inset: 0.25rem;
			border-radius: 0.25rem;
			background: linear-gradient(90deg, var(--color, black) 0 calc(var(--value) * 1%), transparent 0 100%);
		}
	}

}


.game-analytics {
	margin-block-start: 0.5rem;
	padding-block: 1rem;
	border-top: 2px solid var(--clr-mid-grey);

	&-heading {
		font-size: var(--font-size-3);
		line-height: 0.95;
	}

	&-list {
		display: flex;
		flex-flow: row wrap;
		gap: 1.2rem;
		margin-block-start: 1.5rem;
	}

	&-list-answers {
		display: flex;
		flex-flow: row wrap;
		gap: 0.75rem;
		margin-block-start: 1.5rem;
	}

	&-item {
		display: grid;
		min-width: 100px;
		min-height: 75px;
		place-content: center;
		place-items: center;
		background: var(--clr-light-grey);
		padding-inline: 0.5rem;
		padding-block: 0.75rem;
		border: 1px solid var(--clr-mid-grey);
		border-radius: 0.25rem;
	}

	&-item-answer {
		font-size: calc(var(--font-size-1) * 0.75);
		place-items: start;
		background: none;
		gap: 0.5rem;
		padding: 0.75rem 1rem;
		line-height: 1.5;
	}

	&-text {
		font-family: var(--font-sans-serif);
		font-size: var(--font-size-3);
		font-weight: 700;
	}

	&-text-answer {}

	strong {
		font-weight: 500;
		text-decoration: 2px underline var(--clr-primary);
	}
}
