---
---

<header class="header">
	<nav class="header-nav">
		<ul class="header-ul">
			<li class="header-li">
				<a href="/" class="header-a">Home</a>
			</li>
			<li class="header-li">
				<a href="/" class="header-a">Archive</a>
			</li>
		</ul>
	</nav>
</header>

<style lang="scss">
	.header {
		padding: 0.5rem 0.75rem 0.65rem;
		background: var(--clr-light-grey);
		border: 2px solid var(--clr-dark-grey);
		border-radius: 0.5rem;
		margin-top: 0.65rem;
		font-size: calc(var(--font-size-1) * 0.85);
		width: fit-content;
		margin-right: auto;
		margin: 1.15rem auto 0.95rem 0;

		&-nav {
			display: flex;
			gap: 0.75rem;
			flex-flow: row wrap;
		}

		&-ul,
		&-li {
			list-style: none;
			display: contents;
		}
	}
</style>
