---
import "../styles/index.scss";
import Header from "../components/Header.astro";
import { ViewTransitions } from "astro:transitions";
import Analytics from "../components/Analytics.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="google" content="nositelinkssearchbox" />
		<link rel="me" href="mailto:ayobamsik@gmail.com" />
		<link rel="me" href="sms:+2348108567504" />
		<slot name="meta">
			<title>Home Page | Multimatch</title>
			<meta
				name="description"
				content="Multimatch - Making fact memorization fun!"
			/>
			<meta itemprop="name" content="Content Title" />
			<meta
				itemprop="description"
				content="Multimatch - Making fact memorization fun!"
			/>
			<link
				rel="canonical"
				href="https://multimatch.netlify.app"
			/>
		</slot>
		<Analytics measurementId="G-32DMP7SREZ" />
		<ViewTransitions />
	</head>
	<body data-grid>
		<Header />
		<main>
			<slot />
		</main>
	</body>
</html>
